@import url('https://fonts.googleapis.com/css?family=Anton|Arapey|Archivo+Black|Quicksand|Yellowtail&display=swap');

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.header {
  background-image: url('./header-bg.jpg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 100%;
  height: 60%;
  padding-top: 55px;
}

.responsive-header {
  width: 100%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 13% 0px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.header-text {
  font-family: 'Yellowtail', cursive;
  color: gold;
  font-size: 24px;
}

.responsive-menu {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.responsive-menu li {
  margin: 0px 20px 0px;
}

.responsive-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.welcome {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
}

.h1 {
  font-family: 'Archivo Black', 'Anton', sans-serif;
  font-size: 50px;
  width: 75%;
  text-align: center;
  margin: 20px 0px 20px;
}

.button {
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px;
  height: 75px;
  width: 30%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
}

.responsive-button {
  height: 65%;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

@media (max-width: 767px) {
  .header {
    height: 60%;
    width: 100%;
  }

  .responsive-menu {
    display: none;
  }

  .responsive-banner {
    padding-top: 6%;
  }

  .responsive-header {
    height: 55px;
    width: 100%;
    padding: 0px 5% 0px;
  }

  .header-text {
    margin-right: 50px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 100%;
    width: 100%;
  }

  .responsive-menu {
    display: none;
  }

  .responsive-header {
    /* background-color: rgba(0, 0, 0, 0); */
    padding: 0px 3% 0px;
    height: 55px;
  }

  .welcome {
    font-size: 45px;
  }

  .h1 {
    font-size: 75px;
    margin: 40px 0px 60px;
  }
}

@media (min-width: 993px) {
  .responsive-header {
    background-color: inherit;
    height: 100px;
    padding: 0px 3% 0px;
    animation: menu-text-transition .5s;
  }

  .header {
    height: 90%;
  }

  .header-text {
    font-size: 30px;
  }

  .responsive-button {
    display: none;
  }

  .responsive-menu {
    display: flex;
    color: white;
  }
}

@keyframes menu-text-transition {
  from {
      padding: 0px 3% 0px;
      height: 55px;
  }
  to {
    background-color: inherit;
    height: 100px;
    padding: 0px 3% 0px
  }
}