@import url('https://fonts.googleapis.com/css?family=Anton|Arapey|Archivo+Black|Montserrat:700|Quicksand|Yellowtail&display=swap');

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.banner {
  background-image: url('./header-bg.jpg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  padding-top: 55px;
}

.responsive-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212529;
  align-items: center;
  box-sizing: border-box;
  /* padding: 0px 13% 0px; */
  position: fixed;
  top: 0px;
  left: 0px;
}

.header-items {
  width: 100%;

  display: flex;
  justify-content: space-between;
  max-width: 60%;
  align-items: center;
}

.header-text {
  font-family: 'Yellowtail', cursive;
  color: gold;
  font-size: 24px;
}

.responsive-menu, .responsive-menu__show {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.responsive-menu li {
  margin: 0px 20px 0px;
}

.responsive-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.welcome {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
}

.h1 {
  font-family: 'Montserrat', 'Archivo Black', sans-serif;
  font-size: 50px;
  width: 75%;
  text-align: center;
  font-weight: 900;
  margin: 20px 0px 20px;
}

.button {
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px;
  /* height: 75px; */
  padding: 20px 40px;

  /* width: 30%; */
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
}

.responsive-button {
  height: 65%;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  width: 80px;
}



@media (max-width: 992px) {
  .banner {
    height: 100%;
    width: 100%;
  }

  .responsive-menu {
    animation: menu-item-hide .5s;
    height: 0px;
    display: none;
    overflow: hidden;
  }

  .responsive-menu__show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: #212529;
    width: 100%;
    height: 25%;
    position: fixed;
    top: 55px;
    left: 0px;
    animation: menu-item-transition .5s;
    overflow: hidden;
  }

  .responsive-menu__show li {
    /* width: 100%; */
    max-width: 750px;
    margin: 10px 12% 10px;
    /* text-align: left !important; */
    font-size: 24px;
  }

  .responsive-header {
    /* background-color: rgba(0, 0, 0, 0); */
    /* padding: 0px 3% 0px; */
    height: 55px;
  }

  .header-items {
    width: 100%;
    max-width: 750px;
  }

  .welcome {
    font-size: 45px;
  }

  .h1 {
    font-size: 75px;
    margin: 40px 0px 60px;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 60%;
    width: 100%;
  }

  .responsive-menu {
    display: none;
    height: 0px;
    /* animation: menu-item-transition .5s reverse; */
  }

  .responsive-banner {
    padding-top: 6%;
  }

  .responsive-header {
    height: 55px;
    width: 100%;
    /* padding: 0px 5% 0px; */
  }

  .header-items {
    max-width: 550px;
  }

  .header-text {
    margin-right: 50px;
  }

  .responsive-menu__show {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 30%;
    position: fixed;
    top: 55px;
    left: 0px;
    /* background-color: blue; */
    /* animation: menu-item-transition .5s; */
  }

  .responsive-menu__show li {
    width: 100%;
    max-width: 950px;
    margin: 5px 0px 5px;
  }

  .welcome {
    font-size: 30px;
  }

  .h1 {
    font-size: 50px;
    width: 80%;
  }
}

@media (min-width: 993px) {
  .responsive-header {
    height: 100px;
    background-color: inherit;
    width: 100%;
    /* max-width: 990px; */
    animation: menu-text-transition .5s;

  }

  .header-items {
    background-color: inherit;
    width: 100%;
    max-width: 950px;
    /* animation: menu-text-transition .5s; */
  }

  .banner {
    height: 70%;
  }

  .header-text {
    font-size: 30px;
  }

  .responsive-button {
    display: none;
  }

  .responsive-menu {
    display: flex;
    color: white;
  }

  .responsive-banner {
    width: 100%;
  }

  .welcome {
    font-size: 47px;
  }

  .h1 {
    font-size: 75px;
    margin: 0px;
    margin: 40px 0px 50px;
    line-height: 75px;
    padding: 0px;
    width: 100%;
  }

  .button {
    width: 225px;
  }
}

@keyframes menu-text-transition {
  from {
      padding: 0px 3% 0px;
      height: 55px;
  }
  to {
    background-color: inherit;
    height: 100px;
    padding: 0px 3% 0px
  }
}

@keyframes menu-item-transition {
  from {
    display: none;
    height: 0px;
  }

  to {
    display: flex;
    height: 25%;
  }
}

@keyframes menu-item-hide {
  from {
    display: flex;
    height: 25%;
  }
  to {
    /* display: none; */
    height: 0px;
  }
}